.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--default-primary-color:#1d1d1d;
	--screen-bg-color: rgb(95, 187, 59);
	--screen-text-color: rgb(27, 27, 27);
}


.calculator {
  background-color: var(--default-primary-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: .25rem;
  padding: 1rem;
  grid-template-areas: 
  "display display display display"
  "display display display display"
  "add subtract multiply divide"
  "seven eight nine delete"
  "four five six clear"
  "one two three equals"
  "zero zero decimal equals"
}

.calculator-display {
  background-color: var(--screen-bg-color);
}

.calculator-buttons {
  background-color: yellow;
}

.calculator-button {
  padding: 1rem;
}

#display {
  grid-area: display;
}

#zero {
  grid-area: zero;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#add {
  grid-area: add;
}

#subtract {
  grid-area: subtract;
}

#multiply {
  grid-area: multiply;
}

#divide {
  grid-area: divide;
}

#decimal {
  grid-area: decimal;
}

#equals {
  grid-area: equals;
}

#delete {
  grid-area: delete;
}

#clear {
  grid-area: clear;
}